streamlit ==1.32.0
openai==1.14.3
nltk==3.8.1
langchain==0.1.17
langchain-openai==0.1.1
pypdf==4.1.0
# faiss-cpu==1.8.0
chromadb==0.5.0
langchain_experimental==0.0.58
streamlit-pills==0.3.0
tabulate==0.9.0
